@font-face {
  font-family: "marydale", sans-serif;
  src: url("https://use.typekit.net/unl7oyo.css");
}
@keyframes blink {
  0% {
    transform: scale(1, 1);
  }
  3% {
    transform: scale(1, 0.01);
  }
  6% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes boom {
  0% {
    transform: scale(1, 1);
  }
  4% {
    transform: scale(0.96, 1.04);
  }
  8% {
    transform: scale(1.04, 1.08);
  }
  12% {
    transform: scale(0.96, 1.04);
  }
  16% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes wheel-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes jump {
  0% {
    transform: translateY(25%);
  }
  50% {
    transform: translateY(35%);
  }
  100% {
    transform: translateY(25%);
  }
}
* {
  margin: 0;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
}

.header-subtext,
.bottom-left__text,
.bottom-top__text,
.bottom-right__text,
.footer-white__text,
.footer-blue__download,
.middle-text,
.middle-subtext,
.bottom-text__headline,
.footer-blue__contact,
.bottom-deep-right__text,
.bottom-middle__text,
.footer-blue__download-link {
  font-family: "marydale", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.header-headline {
  position: absolute;
  top: 4vw;
  left: 6vw;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4vw;
  font-weight: 900;
  color: #005ba7;
  line-height: 4.8vw;
}

.header-subtext {
  position: absolute;
  top: 16vw;
  left: 6vw;
  font-size: 2vw;
  line-height: 2.3vw;
}

.middle-text {
  position: absolute;
  top: 30vw;
  left: 6vw;
  font-size: 2.5vw;
  color: white;
  line-height: 3vw;
}

.middle-subtext {
  position: absolute;
  top: 45vw;
  left: 6vw;
  font-size: 2.7vw;
  transform: rotate(-20deg);
}

.bottom-text__headline {
  position: absolute;
  top: 105vw;
  left: 33vw;
  font-size: 5.5vw;
}

.bottom-left__text {
  position: absolute;
  top: 103vw;
  left: 15vw;
  font-size: 1.5vw;
  line-height: 2.3vw;
}

.bottom-top__text {
  position: absolute;
  top: 92vw;
  left: 45vw;
  font-size: 1.5vw;
  line-height: 2.3vw;
}

.bottom-right__text,
.bottom-deep-right__text,
.bottom-middle__text {
  position: absolute;
  font-size: 1.5vw;
  line-height: 1.9vw;
}

.bottom-right__text {
  top: 100vw;
  left: 83vw;
}

.bottom-deep-right__text {
  top: 126vw;
  left: 78vw;
}

.bottom-middle__text {
  top: 116vw;
  left: 46vw;
}

footer {
  position: absolute;
  font-size: 1.2vw;
  top: 135vw;
  text-align: center;
  z-index: 5;
}

.footer-white {
  background-color: white;
}

.footer-blue {
  display: flex;
  flex-basis: 33%;
  justify-content: center;
  row-gap: 1vw;
  background-color: #005ba7;
  flex-wrap: wrap;
  padding-top: 5px;
  padding-bottom: 20px;
  color: white;
}

.another-one {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer-blue__contact, .footer-blue__download {
  padding-left: 30px;
  margin-left: 50px;
  border-left: solid white;
}

.footer-blue__contact {
  font-size: 1.5vw;
  align-content: center;
  height: 100%;
}

.child-left__container,
.child-right__container,
.child-middle__container {
  position: absolute;
  width: 20%;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-name: jump;
}

.child-left__container {
  left: 15vw;
  top: 70vw;
  transform: rotate(-12deg);
}

.child-right__container {
  left: 58vw;
  top: 60vw;
}

.child-middle__container {
  left: 38vw;
  top: 55vw;
}

.qr {
  position: absolute;
  top: 125vw;
  left: 2vw;
  width: 9%;
}

.ntnu-logo {
  width: 28%;
}

.number {
  font-size: 7vw;
}

.environment {
  color: #0fa15c;
  font-weight: 900;
}

.image-moon {
  position: absolute;
  width: 22%;
  left: 63vw;
  top: 18vw;
  z-index: 3;
}

.goblin-small,
.goblin-middle,
#goblin-big {
  position: absolute;
}

.goblin-small {
  width: 4%;
}

.goblin-middle {
  width: 7%;
}

#goblin-big {
  width: 11%;
}

#goblin-small__far-left {
  top: 75vw;
  left: 14vw;
}

#goblin-small__middle-far-left {
  top: 72vw;
  left: 28vw;
}

#goblin-small__middle-left {
  top: 78vw;
  left: 35vw;
}

#goblin-small__middle-bottom {
  top: 65vw;
  left: 34vw;
}

#goblin-small__middle {
  top: 58vw;
  left: 45vw;
}

#goblin-small__right-middle {
  top: 66vw;
  left: 68vw;
}

#goblin-small__far-right {
  top: 62vw;
  left: 75vw;
}

#goblin-small__right-bottom {
  top: 76vw;
  left: 78vw;
}

#goblin-middle-right {
  top: 64vw;
  left: 25vw;
}

#goblin-middle-left {
  top: 56vw;
  left: 65vw;
}

#goblin-big {
  top: 56vw;
  left: 53vw;
}

#container-eyes > div {
  display: inline-block;
  animation: blink 5s 5s infinite;
  transition-duration: 50ms;
  transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

#container-eyes {
  position: absolute;
  top: 120vw;
  left: 25vw;
  transform: rotate(5deg);
  width: 50vw;
}

#container-people > svg {
  animation-name: boom;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

#container-car {
  position: absolute;
  height: 13vw;
  top: 37.3vw;
  left: 43vw;
  width: 15.7vw;
}

#wheel-front, #wheel-back {
  animation-name: wheel-rotate;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  transform: scale(0.04);
  width: 2.55vw;
}

#wheel-front {
  position: absolute;
  left: 12.1vw;
  top: 1.19vw;
}

#wheel-back {
  position: absolute;
  left: 1.9vw;
  top: 6.9vw;
}

.left-eye {
  height: 21.12vw;
  width: 11.04vw;
  background-color: black;
  border-radius: 48%;
  border: 10px solid black;
  transform: scale(1, 1);
  position: static;
}

.left-eye-double {
  height: 21.12vw;
  width: 11.04vw;
  background-color: black;
  border-radius: 48%;
  border: 10px solid black;
  position: relative;
}

.left-eye-glow {
  height: 6.6vw;
  width: 3.6vw;
  background-color: white;
  border: 5px solid white;
  border-radius: 48%;
  position: relative;
}

.left-positioning {
  bottom: 100%;
  left: 50%;
}

.right-eye {
  height: 21.12vw;
  width: 11.04vw;
  background-color: black;
  border-radius: 48%;
  border: 10px solid black;
  transform: scale(1, 1);
  position: relative;
  left: 17vw;
}

.right-eye-double {
  height: 21.12vw;
  width: 11.04vw;
  background-color: black;
  border-radius: 48%;
  border: 10px solid black;
  position: relative;
}

.right-eye-glow {
  height: 6.6vw;
  width: 3.6vw;
  background-color: white;
  border: 5px solid white;
  border-radius: 48%;
  position: relative;
}

.right-positioning {
  bottom: 100%;
  left: 50%;
}

#container-star {
  max-width: 300px;
  position: absolute;
  height: 10%;
  top: 12vw;
  left: 68vw;
  width: 26%;
  z-index: 2;
}

#container-star2 {
  max-width: 300px;
  position: absolute;
  height: 10%;
  top: 32vw;
  left: 70vw;
  width: 15%;
  z-index: 1;
}

.star {
  transform: scale(0.25);
}/*# sourceMappingURL=style.css.map */